h2(style="color:crimson;") Listado de Compra
    if productos && productos.length > 0
        div(class="table-responsive")
            table.table.table-dark.my-2
                tr(style="color: yellow;")
                    th Nombre
                    th Descripcion
                    th Codigo
                    th Precio
                    th Stock
                    th Foto
                    th Cantidad
                each val in productos
                    tr
                        td= val.name
                        td= val.description
                        td= val.code
                        td= val.price
                        td= val.stock
                        td= val.photo
                        td= val.cant
                        td
        div
            form(onsubmit=`return generateOrder()`)
                button.btn.btn-success.btn-sm(type='submit') Realizar Compra
            form(onsubmit=`return emptyCart()`)
                button.btn.btn-danger.btn-sm(type='submit') Vaciar carrito
    else
        h3(class="alert alert-danger") No products
        a.nav-link(href='/products') Añadir Productos