h2(style="color:crimson;") Buscar Producto
form.d-flex(action="/productos/busqueda", method="post")
    div.flex-fill(class="form-group")
        input#nameb.form-control(type="text", name="nameb", placeholder="Nombre")
    button#Buscar.btn.btn-success.mb-3 Buscar
h2(style="color:crimson;") Listado de productos
h2 Inicie session para comprar
    if productos && productos.length > 0
        div(class="table-responsive")
            table.table.table-dark.my-2
                tr(style="color: yellow;")
                    th Nombre
                    th Descripcion
                    th Codigo
                    th Precio
                    th Stock
                    th Foto
                each val in productos
                    tr
                        td= val.name
                        td= val.description
                        td= val.code
                        td= val.price
                        td= val.stock
                        td= val.photo
    else
        h3(class="alert alert-danger") No products