h2(style="color:crimson;") Buscar Producto
form.d-flex(action="/productos/busqueda", method="post")
    div.flex-fill(class="form-group")
        input#nameb.form-control(type="text", name="nameb", placeholder="Nombre")
    button#Buscar.btn.btn-success.mb-3 Buscar
h2(style="color:crimson;") Listado de productos
    if productos && productos.length > 0
        div(class="table-responsive")
            table.table.table-dark.my-2
                tr(style="color: yellow;")
                    th Nombre
                    th Categoria
                    th Descripcion
                    th Codigo
                    th Precio
                    th Stock
                    th Foto
                each val in productos
                    tr
                        td= val.name
                        td= val.category
                        td= val.description
                        td= val.code
                        td= val.price
                        td= val.stock
                        td= val.photo
                        td
                            form(onsubmit=`return EliminarProducto("${val._id}")`)
                                button.btn.btn-danger.btn-sm(type='submit') Eliminar
                        td
                            button.btn.btn-primary(type='button' data-toggle='modal' data-target='#exampleModal') Actualizar Producto
                            #exampleModal.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
                                .modal-dialog
                                    .modal-content
                                        .modal-header
                                            h5#exampleModalLabel.modal-title Actualizar
                                            button.close(type='button' data-dismiss='modal' aria-label='Close')
                                                span(aria-hidden='true') &times;
                                        .modal-body
                                            form(onsubmit=`return Actualizar("${val._id}")`)
                                                div.d-flex
                                                    div.flex-fill(class="form-group")
                                                        input#name.form-control(type="text", name="name", placeholder="Nombre")
                                                    div.flex-fill(class="form-group")
                                                        input#description.form-control(type="text", name="description", placeholder="Descripcion")
                                                    div.flex-fill(class="form-group")
                                                        input#category.form-control(type="text", name="category", placeholder="category")
                                                div.d-flex
                                                    div.flex-fill(class="form-group")
                                                        input#code.form-control(type="text", name="code", placeholder="Codigo")
                                                    div.flex-fill(class="form-group")
                                                        input#price.form-control(type="number", name="price", placeholder="Precio")
                                                div.d-flex
                                                    div.flex-fill(class="form-group")
                                                        input#stock.form-control(type="number", name="stock", placeholder="Stock")
                                                    div.flex-fill(class="form-group")
                                                        input#photo.form-control(type="text", name="photo", placeholder="Foto")
                                                button.btn.btn-warning.btn-sm(type='submit') Actualizar
    else
        h3(class="alert alert-danger") No products