<div class="config-container">
  <h3>Configuraciones del servidor</h3>
  <div class="listConfig">
    <p>- Modo de despliegue: <strong><%= modo %></strong></p>
    <p>- Sistema Operativo: <strong><%= os %></strong></p>
    <p>- ID de proceso: <strong><%= idProcess %></strong></p>
    <p>- Puerto: <strong><%= port %></strong></p>
    <p>- Versión de NODE.js: <strong><%= nodeVersion %></strong></p>
    <p>- Tiempo máximo de sesión: <strong><%= sessionTime %></strong></p>
    <p>- Persistencia de datos: <strong><%= persistence %></strong></p>
    <p>- E-mail del administrador: <strong><%= gmailAdmin %></strong></p>
  </div>
</div>